.main{
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
}
.form{
    width: 50%;
    /* border: 1px solid #000; */
}
img{
    height: 350px;
    width: 100%;
    /* border: 1px solid #000; */
}
h1{
    text-align: center;
}